In this file we do exploratory data analysis of our corpus to understand it.

In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [2]:
training_data_filename = "../raw_data/fulltrain.csv"
df = pd.read_csv(training_data_filename, names=["label", "document"])
y = df["label"]

In [3]:
# Dataset statistics

pd.DataFrame(y).value_counts()

label
3        17870
1        14047
4         9995
2         6942
dtype: int64

We have 4 labels:

1. Satire
2. Hoax
3. Propaganda
4. Trusted

In [4]:
# Samples from each class

sample = df.groupby("label").sample(n=3)
sample

       label                                           document
2137       1  With polls showing him trailing in New York's ...
6604       1  Eric Weaver, a recently hired line cook at Cac...
1021       1  Unless immediate measures are taken, the delic...
14746      2  Obama Just Shamed America In The Worst Way Pos...
15245      2  BREAKING: Obama Launches Terrifying Plan To Do...
16697      2  Welfare Mother Expecting Twelfth Child Gets So...
25816      3  4-yr-old Rosie Will Have a Garden Next Spring ...
22238      3  Max Igan: Nature of Reality From An Energetic ...
23509      3  How to Save Yourself If You Choke AloneHeather...
42484      4  copyright 2009, The Washington Post NEW YORK -...
46796      4  Turkish private Pegasus Airlines will launch r...
44460      4  Copyright 2009 San Francisco Chronicle I've ha...

In [5]:
stats = df
stats['polarity'] = stats.document.apply(lambda x: TextBlob(x).sentiment.polarity)
stats['subjectivity'] = stats.document.apply(lambda x: TextBlob(x).sentiment.subjectivity)

In [12]:
stats = df
df.groupby('label').document.apply(lambda x: x.str.len().mean()).reset_index(name='Mean document length')

   label  Mean document length
0      1           1772.667616
1      2           1144.799481
2      3           5535.197090
3      4           2689.952976

In [14]:
df.groupby('label').document.apply(lambda x: np.mean([len(w) for w in str(x).split()])) \
  .reset_index(name='Mean word length')

   label  Mean word length
0      1          4.820000
1      2          5.070707
2      3          5.311828
3      4          5.010000

The polarity is a float within the range [-1.0, 1.0] and ranges from negative, neutral, to positive.

In [16]:
stats.groupby('label').polarity.apply(lambda x: x.mean()).reset_index(name='Mean polarity')

   label  Mean polarity
0      1       0.084869
1      2       0.043747
2      3       0.064741
3      4       0.070584

The subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.

In [17]:
stats.groupby('label').subjectivity.apply(lambda x: x.mean()).reset_index(name='Mean subjectivity')

   label  Mean subjectivity
0      1           0.473221
1      2           0.448432
2      3           0.399500
3      4           0.372629